.titulo-bg {
  background-color: var(--cor-base11);
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.titulo p {
  margin-bottom: 0.25rem;
}

@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
