#contato {
  background: linear-gradient(var(--cor-base11) 600px, var(--cor-base1) 0);
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
  padding: var(--esp-xl);
  box-shadow: var(--sombra);
}

.contato-dados {
  background: var(--cor-base12) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 20px left 20px;
  border-radius: 5px 0 0 5px;
}

.contato-formulario {
  background: var(--cor-base0) url("../../img/dec/bottom-right.svg") no-repeat
    bottom 20px right 20px;
  border-radius: 0 5px 5px 0;
}

.contato-dados h2 {
  margin-bottom: var(--esp-xl);
}

.contato-endereco {
  margin-bottom: var(--esp-sl);
  padding-left: var(--esp-lm);
  background: url("../../img/icones/local.svg") no-repeat 0px 2px;
}

.contato-dados p {
  margin-bottom: var(--esp-xxs);
}

.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: var(--esp-xxs);
  padding-left: var(--esp-lm);
}

.contato-meios a:hover {
  color: var(--cor-base0);
}

.contato-meios a:first-child {
  background: url("../../img/icones/email.svg") no-repeat 0px 2px;
}

.contato-meios a:nth-child(2) {
  margin-bottom: var(--esp-sl);
}

.contato-meios a:last-child {
  background: url("../../img/icones/telefone.svg") no-repeat 0px 2px;
  margin-bottom: var(--esp-xl);
}

.contato-redes {
  display: flex;
  gap: 2rem;
  padding-left: var(--esp-lm);
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-dados,
  .contato-formulario {
    padding: var(--esp-m);
  }
  .contato-dados {
    border-radius: 5px 5px 0 0;
    display: grid;
    background: var(--cor-base12);
  }

  .contato-formulario {
    border-radius: 0 0 5px 5px;
  }
  .contato-dados h2,
  .contato-meios a:last-child {
    margin-bottom: var(--esp-sl);
  }

  .contato-redes {
    margin-bottom: var(--esp-xs);
  }
}

@media (max-width: 600px) {
  .contato-formulario {
    background: var(--cor-base0);
  }
}
