.footer-bg {
  background-color: var(--cor-base12);
}

.footer {
  display: grid;
  grid-template-columns: 3fr 5fr 4fr;
  gap: var(--esp-l);
  padding-top: var(--esp-xl);
  padding-bottom: var(--esp-m);
}

.footer h3 {
  margin-bottom: var(--esp-sl);
}

.footer-contato ul {
  margin-bottom: var(--esp-sl);
}
.footer li:nth-child(even)::after {
  content: "";
  display: block;
  max-width: 360px;
  height: 2px;
  background-color: var(--cor-base11);
  margin-top: var(--esp-s);
}
.footer li {
  margin-bottom: var(--esp-s);
}

.footer-redes {
  display: flex;
  gap: var(--esp-sl);
}

.footer a:hover {
  color: var(--cor-base0);
}

.footer-copy {
  grid-column: 1/-1;
  margin-top: var(--esp-l);
}

@media (max-width: 800px) {
  .footer > picture {
    display: none;
  }
  .footer {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .footer {
    grid-template-columns: 1fr;
    gap: var(--esp-xl);
  }
  .footer-copy {
    margin-top: 0px;
  }
}
