.header-bg {
  background-color: var(--cor-base12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--esp-m);
  justify-content: space-between;
  align-items: center;
  padding: var(--esp-m);
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: var(--esp-l);
}

.header-menu a {
  display: inline-block;
  padding-top: var(--esp-s);
  padding-bottom: var(--esp-s);
  position: relative;
}

.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: var(--cor-base0);
  position: absolute;
  transition: 0.3s ease-out;
}

.header-menu a:hover::after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: var(--esp-m);
  }

  .header-menu a {
    background-color: var(--cor-base11);
    padding: var(--esp-xs) var(--esp-s);
    border-radius: 5px;
  }

  .header-menu a:hover {
    background-color: var(--cor-base10);
  }

  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: var(--esp-xs);
  }

  .header li {
    flex: 1;
  }
  .header-menu a {
    padding: var(--esp-xxs) var(--esp-xs);
    font-size: 0.875rem;
    width: 100%;
    text-align: center;
  }
}
