.vantagens-bg {
  background: var(--cor-base12);
}

.vantagens {
  padding-top: var(--esp-xxxl-b);
  padding-bottom: var(--esp-xxxl-b);
}

.vantagens h2 {
  margin-bottom: var(--esp-xl);
}

.vantagens ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: var(--esp-l) var(--esp-xxl);
}

.vantagens h3,
.vantagens img {
  margin-bottom: var(--esp-xxs);
}

@media (max-width: 800px) {
  .vantagens {
    padding-top: var(--esp-xl);
    padding-bottom: var(--esp-xl);
  }

  .vantagens h2 {
    margin-bottom: var(--esp-l);
  }

  .vantagens ul {
    gap: var(--esp-m);
  }
}

@media (max-width: 600px) {
  .vantagens li {
    background-color: var(--cor-base11);
    padding: var(--esp-s);
    border-radius: 5px;
  }
}
