.bicicleta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: var(--esp-l);
  padding-top: var(--esp-xl);
  padding-bottom: var(--esp-xl);
}

#bicicleta .titulo p {
  text-transform: uppercase;
}

.bicicleta-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: var(--esp-m);
}

.bicicleta-imagens img {
  flex: 1;
  min-width: 200px;
}

.bicicleta-imagens img:first-child {
  min-width: 100%;
}

.bicicleta-conteudo > p {
  margin-bottom: var(--esp-sl);
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  align-items: center;
  justify-items: start;
  gap: var(--esp-xxs) var(--esp-xs);
  margin-bottom: var(--esp-l);
}

.bicicleta-comprar a {
  grid-row: span 2;
}

.bicicleta-comprar span {
  display: flex;
  align-items: center;
  gap: var(--esp-xxs);
  background-color: var(--cor-base12);
  padding: var(--esp-xxxs) var(--esp-xxs);
  border-radius: 5px;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  margin-bottom: var(--esp-xs);
}

.bicicleta-informacoes,
.bicicleta-ficha {
  padding: var(--esp-sl);
  background-color: var(--cor-base12);
  border-radius: 5px;
}

.bicicleta-informacoes {
  margin-bottom: var(--esp-sl);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--esp-sl);
}

.bicicleta-informacoes img {
  width: 24px;
  margin-bottom: var(--esp-xxs);
}

.bicicleta-informacoes h3 {
  margin-bottom: var(--esp-xxs);
}

.bicicleta-ficha li {
  padding: var(--esp-xxxs) 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-base11);
}

.bicicleta-ficha li:last-child {
  border-bottom: none;
}

.bicicleta-ficha span {
  color: var(--cor-base6);
}

@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-top: var(--esp-l);
    padding-bottom: var(--esp-l);
  }
  .bicicleta-imagens {
    grid-row: 3;
  }
}

@media (max-width: 400px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
  }
  .bicicleta-comprar {
    grid-template-columns: 1fr;
  }
}
