.seguro-bg {
  background-color: var(--cor-base11);
  box-shadow: inset 0 7.5rem var(--cor-base0), inset 0 -7.5rem var(--cor-base12);
}

.seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--esp-l);
}

.seguro-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seguro-conteudo {
  padding-top: var(--esp-xxxxl-b);
  padding-bottom: var(--esp-xxxxl-b);
}

.seguro h2 {
  margin-bottom: var(--esp-sl);
}

.seguro p {
  margin-bottom: var(--esp-sl);
}

@media (max-width: 800px) {
  .seguro-bg {
    box-shadow: inset 0 -3.75rem var(--cor-base12);
  }

  .seguro {
    grid-template-columns: 1fr;
  }

  .seguro-conteudo {
    grid-row: 1;
    padding-top: var(--esp-l);
    padding-bottom: var(--esp-l);
  }

  .seguro h2 {
    margin-bottom: var(--esp-m);
  }

  .seguro p {
    margin-bottom: var(--esp-m);
  }
}
