.parceiros {
  padding: var(--esp-xl) 0 var(--esp-xxxl-b);
}

.parceiros h2 {
  margin-bottom: var(--esp-xl);
}

.parceiros ul {
  padding: 0 var(--esp-m);
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.parceiros li {
  display: flex;
  padding: var(--esp-sl);
  border-left: 2px solid var(--cor-base2);
}

.parceiros li:first-child,
.parceiros li:nth-child(5) {
  border-left: none;
}

.parceiros li:nth-child(n + 5) {
  border-top: 2px solid var(--cor-base2);
}

.parceiros img {
  margin: auto;
  width: max-content;
}

@media (max-width: 800px) {
  .parceiros {
    padding: var(--esp-xl) 0;
  }
  .parceiros h2 {
    margin-bottom: var(--esp-m);
  }

  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiros li {
    padding: var(--esp-m);
  }

  .parceiros li:nth-child(odd) {
    border-left: none;
  }
  .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-base2);
  }
}
