.seguros-bg {
  background-color: var(--cor-base11);
}

.seguros {
  padding-top: var(--esp-xl);
  padding-bottom: var(--esp-xl);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--esp-l);
  align-items: center;
}

#seguros .seguros {
  padding-top: 0;
}

.seguros h2 {
  grid-column: 1/-1;
}

.seguros-item {
  background-color: var(--cor-base12);
  padding: var(--esp-sl) var(--esp-sl) var(--esp-sl) 3.75rem;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 5px;
}

.seguros-item h3 {
  margin-bottom: var(--esp-l);
}

.seguros-item span {
  grid-column: 2;
  display: block;
  text-align: right;
}

.seguros-item ul {
  grid-column: 1/-1;
  margin-bottom: var(--esp-sl);
}

.seguros-item li {
  display: flex;
  align-items: center;
  position: relative;
}

.seguros-item li + li {
  margin-top: var(--esp-m);
}

.seguros-item li::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("../../img/icones/Lista.svg");
  position: absolute;
  left: -21px;
}

.seguros-item a {
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .seguros {
    grid-template-columns: 1fr;
  }
}
