.termos {
  padding-top: var(--esp-xxl);
  padding-bottom: var(--esp-xxl);
}

.termos h2 {
  font-weight: 600;
}

.termos p + h2 {
  margin-top: var(--esp-l);
}

.termos p {
  margin-bottom: 1.5rem;
  max-width: 75ch;
}
